@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap');


:root {
    --nav-btn:#fA5959;
    --text-color:#242a45;
    --btn-bg:#5267df;
    --transition: 0.3s;
  
   
}

*,
html {
  box-sizing: border-box;
  
  scroll-behavior: smooth;
}

html {
    height: 100%;
}

*:focus {
  outline: 2px dotted var(--btn-green);
  outline-offset: 3px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  background: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}
.button {
  padding: 10px 24px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 8px;
  border:2px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition);
  
}

.button:hover {
    border: 2px solid #5B6074
}



.primary-btn {
    margin-right: 16px;
    border: 2px solid transparent;
    background-color: var(--btn-bg);
    color: #fff;
}

.primary-btn:hover {
    border: 2px solid var(--btn-bg);
    background-color:#fff ;
    color: var(--btn-bg);
}

.nav-button {
    padding: 12px 32px;
    background-color:var(--nav-btn);
    border: 2px solid var(--nav-btn);
    color: #fff;
    transition: var(--transition);
}

.nav-button:hover {
    background-color: #fff;
    border: 2px solid var(--nav-btn);
    color: var(--nav-btn);
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
  }

    /* main */
    .main {
        flex-grow: 1;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;*/
    } 

    /* HEADER */

    .header {
        padding-top: 67px;
    }
    
    .site-navbar {
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .logo {
        display: flex;
        width: 129px;
        height: 25px;
        margin-right: auto;
    }

    .logo:hover {
        opacity: 0.5;
    }
    .logo-img {
        width: inherit;
        height: inherit;
    }
    .nav-list {
        display: flex;
        justify-content: center;
        align-items:center;

    }

    .nav-list-item{
        margin-right: 48px;
    }
    .nav-list-item:not(:last-child) {
        margin-right: 44px;
    }
    .nav-list-link {
        color: var(--text-color);
    }

    .nav-list-link:hover {
        color: var(--nav-btn);
    }

    /* HERO-SECTION */
    .hero-section {
        padding-top: 127px;
        padding-bottom: 80px;
        background: url('/img/bg-img.png');
        background-repeat:no-repeat;
        background-position: 900px 235px;
    }
   
    .hero-text-img {
        
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
    .hero-text {
        width: 540px;
        margin-right: 67px;
    }
    .hero-title {
        margin: 0;
        margin-bottom: 24px;
        font-size: 48px;
        line-height: 51px;
        font-weight: 500;

    }
    .hero-info {
        margin: 0;
        margin-bottom: 32px;
        width: 540px;
        font-size: 18px;
        line-height: 28px;
        opacity: 50%;
    }
    
   
    .hero-laptop-img {
        width: 574px;
        height: 385px;
        display: flex;
      
    }

        /* CONTACT-SECTION */
        .contact {
            margin-top: 150px;
            background-color:var(--btn-bg);
        }
        
        .contact-section {
            padding-top: 58px;
            padding-bottom: 78px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .number,.contact-info {
            font-size: 13px;
            line-height: 48px;
            letter-spacing: 5px;
            color: #fff;
            margin-bottom: 24px;
        }

        .contact-text {
            width: 408px;
            margin: 0;
            margin-bottom: 35px;
            font-weight: 500;
            text-align: center;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: -0.1px;
            color:#fff;
        }

        .input-email{
            width: 300px;
            border:2px solid #fff;
            color: rgba(36, 42, 69, 0.250109);
            margin-right: 16px;
        }

        .input-email, .contact-button {
            padding: 10px 20px;
            border-radius:4px;
            font-size: 14px;
            line-height: 28px;
            letter-spacing: 0.25px;
           
        }

        /* FEATURES-SECTION */

        .features {
            padding-top: 80px;
            padding-bottom: 149px;
            background-image: url('/img/bg-img.svg') ;
            background-repeat: no-repeat;
            background-position: -11px 539px;
        }
        .fauters-title {
            margin: 0;
            margin-bottom: 16px;
            text-align: center;
            font-weight: 500;
            font-size: 32px;
            line-height: 52px;
        }
        .fatures-text {
            width: 540px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 72px;
            text-align: center;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            color:var(--text-color);
            opacity: 0.5;
        }
        .tabheader-items {
            width: 730px;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 155px;
            text-align: center;
            display: flex;
            justify-content:center;
           
        }
        .tabheader-item {
            padding: 29px;
            border-bottom: 3px solid #f2f2f2;
            font-size: 16px;
            line-height: 17px;
            opacity: 0.5;
            color:var(--text-color);
            cursor:pointer;
        }
        .tabheader-item-active {
            opacity: 1;
            border-bottom:2px solid var(--nav-btn);
        }
        /* .tabcontainer {
         
        } */
        .tabcontent {
            display: flex;
            position: relative;
            /* justify-content: space-between; */
          
        }
        .tabcontent-img {
            position: relative;
            top: -100px;
            left: 50px;
            width: 536px;
            height: 346px;
            display: flex;
        }
        .tabcontent-text {
            width: 455px;
            position: absolute;
            right: -20px;
            top: -20px;
        }
        .tabcontent-title {
            margin: 0;
            margin-bottom: 16px;
            font-weight: 500;
            font-size: 32px;
            line-height: 52px;
        }
        .tabcontent-info {
            margin: 0;
            margin-bottom: 32px;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            opacity: 0.5;
        }
        .tabcontent-button {
            padding: 10px 24px;
        }

        /* SLIDER */
    .hidden {
        display: none;
    }

    .show {
        display: block;
    }

    .fade{
        animation: fade 1.5s;
    }

    @keyframes fade {
        0%{opacity: 0.1}
        100%{opacity: 1}
    }
      /* EXTENSIONS-SECTION */
      /* .extension {
 
    } */
    
    .extension-head {
        margin: 0;
        margin-bottom: 16px;
        text-align: center;
        font-weight: 500;
        font-size: 32px;
        line-height: 52px;
    }
    .extension-text {
        margin: 0;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        width: 540px;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        opacity: 0.5;
    }
    .extension-cards {
        padding-left: 60px;
        display: flex;
        position: relative;
    }
    .extension-card{
        width: 280px;
        -webkit-box-shadow: 0px 10px 19px -3px rgba(34, 60, 80, 0.13);
        -moz-box-shadow: 0px 10px 19px -3px rgba(34, 60, 80, 0.13);
        box-shadow: 0px 10px 19px -3px rgba(34, 60, 80, 0.13);
        border-radius:8px;
    }

    .extension-card:nth-child(2){
        position: absolute;
        top: 50px;
        left: 390px;
    }

    .extension-card:nth-child(3){
        position: absolute;
        top: 100px;
        left: 720px;
    }

    .extension-card-items {
        padding: 24px;
        padding-top: 49px;
        text-align: center;
    }

    .extension-title {
        margin: 0;
        margin-bottom: 6px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
    .extension-img {
        margin-bottom: 32px;
    }

    .extension-version {
       display: block;
       margin-bottom: 32px;
       font-size: 15px;
       line-height: 28px;
       opacity: 0.5;
    }
  
    .extension-btn{
        margin: 0;
        width: 232px;
    }
   
        /* FOOTER-SECTION */
    .footer {
        height: 88px;
        background-color:var(--text-color);
    }

    .site-footer {
        padding-top: 36px;
        display: flex;
        justify-content: center;
        align-items:center;

    }
    .footer-logo {
        width: 129px;
        height: 25px;
        display: flex;
    }

    .footer-logo:hover {
        opacity: 0.5;
    }
    .footer-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: 40px;
    }
    .footer-list-item:not(:last-child) {
        margin-right: 44px;
    }
    .footer-list-link {
        color: #fff;
    }
   
    .social-link i {
        font-size: 24px;
        margin-right: 24px;
        color: #fff;
    }

    .footer-list-link:hover ,
    .social-link i:hover {
        color: var(--nav-btn);
    }

